.wrapper {
	display: grid;

	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: auto 230px minmax(300px, 1173px) auto;
	gap: 30px;
	grid-template-areas:
		"header header header header"
		". sidebar body ."
		"footer footer footer footer";

	@media (max-width: 1493px) {
		grid-template-columns: auto 230px minmax(300px, 879px) auto;
	}

	@media (max-width: 1199px) {
		grid-template-columns: auto 180px minmax(300px, 721px) auto;
	}

	@media (max-width: 991px) {
		grid-template-columns: 10px minmax(300px, 1fr) 10px;

		grid-template-areas:
						"header header header"
						". body ."
						"footer footer footer";
	}

	@media (max-width: 641px) {
		gap: 30px 0;
	}
}

.header {
	grid-area: header;
}

.sidebar {
	grid-area: sidebar;

	@media (max-width: 991px) {
		display: none;
	}
}

.body {
	grid-area: body;
}

.footer {
	grid-area: footer;
}