html,
body {
	margin: 0;
	padding: 0;

	color: var(--neutral-dark);
	background: #F5F6F8;

	font-family: var(--ff_main);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	/* Font */
	--ff_main: 'Noto Sans', sans-serif;

	/* Main color */
	--danger: #FC836D;
	--warning: #DCB44E;
	--success: #2DC37E;
	--success-light: #C8F8E4;
	--primary: #7653FC;
	--primary-light: #F9F8FF;

	/* Neutral Color */
	--neutral-black: #000;
	--neutral-dark: #3B434E;
	--neutral-regular: #787D85;
	--neutral-secondary: #BBB;
	--neutral-light: #B3C0D9;
	--neutral-white: #FFF;
}
