html,
body {
	margin: 0;
	padding: 0;

	color: var(--darkSlateGray);
	background: #F5F6F8;

	font-family: var(--ff_main);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	/* Font */
	--ff_main: 'Noto Sans', sans-serif;

	/* Main color */
	--danger: #FC836D;
	--dangerDark: #DE0000;
	--warning: #DCB44E;
	--success: #1DC37E;
	--successLight: #C8F8E4;
	--primary: #7653FC;
	--primaryDark: #6344DF;
	--primaryLight: #F9F8FF;

	/* Neutral Color */
	--black: #000;
	--darkSlateGray: #3B434E;
	--slateGray: #787D85;
	--lightSlateGray: #969FA8;
	--darkGray: #BBB;
	--gray: #E2E2E2;
	--lightGray: #EBEBEB;
	--white: #FFF;
}
